{% extends "layout.html" %}
{% block body %}
<div class="container">
<input
    type="range"
    min="1776"                    // default 0
    max="2016"                  // default 100
    step="1"                   // default 1
    value="300"                 // default min + (max-min)/2
    data-orientation="vertical" // default horizontal
>
   <output class="output"></output>
    <input type="text" size="5" id="year">
    <p><a href="javascript:void();" id="calculate">calculate server side</a></p>
</div>
<div id="result"></div>
<script>
    $(function() {
        var $document = $(document),
            $inputRange = $('input[type="range"]');

            function valueOutput(element) {
                var value = element.value,
                    output = element.parentNode.getElementsByTagName('output')[0];
                output.innerHTML = value;
            }
            for (var i=$inputRange.length-1; i>=0; i--) {
                valueOutput($inputRange[i]);
            };
            $document.on('input', 'input[type="range"]', function(e) {
                valueOutput(e.target);
            });
        });
</script>
<script>
    $(function() {
      $('a#calculate').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/justices', {
          year: $(year).val()
        }, function(data) {
          $("#result").text(data.justices);
          //console.log(data.justices);
        });
        return false;
      });
    });
  </script>
  <div class="container">
  <p>Fast Facts:</p>
  <ul>the Supreme Court first convened on February 2, 1790</ul>
  <ul>the Supreme Court was established by the Constitution and implemented by the Judiciary Act of 1789</ul>
  </div>
{% endblock %}